@{ Layout = null; }
@{ ViewBag.Title = "Error"; }
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
</head>
<body>
  <h2>@ViewBag.Title</h2>
  <p>Sorry, an error occurred while processing your request.</p>
</body>
</html>