<!--[if lt IE 9]>
  <div class="alert fade in flash-bar">
    <button type="button" title="close" class="close" data-dismiss="alert">&times;</button>
    <i class="icon-exclamation-sign"></i> 
    <span>Your browser is outdated! <a href="http://browsehappy.com">Upgrade to a latest browser</a> or <a href="//www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</span>
  </div>
<![endif]-->