@using System.Web.Optimization
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Mocha</title>
  <link rel="stylesheet" href="@Url.Content("~/Content/mocha.css")" />
  @Scripts.Render("~/bundles/jQuery", "~/bundles/bdd")
  <script>mocha.setup('bdd')</script>
  @{ 
    var bundles = new[]
     {
       "modernizr",
       "bootstrap",
       "backbone",
       "application",
       "specs"
     };
  }
  @Scripts.Render(bundles.Select(b => "~/bundles/" + b).ToArray())
</head>
<body>
  <div id="mocha"></div>
  <script>
    fixtures.path = '@Url.Content("~/Scripts/specs/fixtures")';
    mocha.run();
  </script>
</body>
</html>