<form id="sign-in-form" action="#" method="post" novalidate>
  <div class="control-group">
    <label class="control-label" for="sign-in-email">Email</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <input id="sign-in-email" name="email" type="email" />
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="sign-in-password">Password</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-key"></i></span>
        <input id="sign-in-password" name="password" type="password" />
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="checkbox">
      <input id="sign-in-remember-me" name="rememberMe" type="checkbox" value="true" />
      <span>Keep me remembered</span>
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>