<form id="sign-up-form" action="#" method="post" novalidate>
  <div class="control-group">
    <label class="control-label" for="sign-up-email">Email</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <input id="sign-up-email" name="email" type="email" />
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="sign-up-password">Password</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-key"></i></span>
        <input id="sign-up-password" name="password" type="password" />
      </div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="sign-up-confirm-password">Confirm password</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-key"></i></span>
        <input id="sign-up-confirm-password" name="confirmPassword" type="password" />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>